In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import xgboost as xgb
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
import sklearn.metrics as metrics

In [2]:
train_df = pd.read_excel('/Users/vidipghosh/Desktop/Machine Learning/FlightPricePrediction/Dataset/Data_Train.xlsx')
test_df = pd.read_excel('/Users/vidipghosh/Desktop/Machine Learning/FlightPricePrediction/Dataset/Test_set.xlsx')

In [3]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
df = pd.concat([train_df,test_df],ignore_index=True)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13349,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [6]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [7]:
src_dict = {}

unique_id = -1
for idx ,ele in enumerate(df['Source'].unique()):
    src_dict[ele] = idx
    
    # print(ele)
    # if ele not in src_dict:
    #     unique_id +=1
    # src_dict[ele] = unique_id

In [8]:
from tqdm import tqdm
temp_col = []
for i in tqdm(range(len(df))):
    ext_value = str(df.iloc[i].Source)
    ohe_value = src_dict[ext_value]
    # df.iloc[i].Source = ohe_value
    temp_col.append(ohe_value)
df['Source'] = temp_col

100%|██████████████████████████████████████████████████████████████████████| 13354/13354 [00:00<00:00, 22414.62it/s]

In [9]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,0,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,1,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,2,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,1,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,0,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [10]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [11]:
df['Destination'].value_counts()

Destination
Cochin       5682
Banglore     3581
Delhi        1582
New Delhi    1170
Hyderabad     883
Kolkata       456
Name: count, dtype: int64

In [12]:
# Update "New Delhi" counts with "Delhi"
df.loc[df["Destination"] == "New Delhi", "Destination"] = "Delhi"

# Check the updated counts
df['Destination'].value_counts()

Destination
Cochin       5682
Banglore     3581
Delhi        2752
Hyderabad     883
Kolkata       456
Name: count, dtype: int64

In [13]:
dest_dict = {}
for idx,ele in enumerate(df['Destination'].unique()): 
    dest_dict[ele] = idx

In [14]:
temp_col = []
for i in tqdm(range(len(df))): 
    ext_value = str(df.iloc[i].Destination)
    ohe_value = dest_dict[ext_value]
    temp_col.append(ohe_value)
df['Destination'] = temp_col

100%|██████████████████████████████████████████████████████████████████████| 13354/13354 [00:00<00:00, 19959.35it/s]

In [15]:
dest_dict

{'Delhi': 0, 'Banglore': 1, 'Cochin': 2, 'Kolkata': 3, 'Hyderabad': 4}

In [16]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,0,0,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,1,1,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,2,2,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,1,1,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,0,0,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13349,Air India,6/06/2019,1,1,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,1,1,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,2,2,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,2,2,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,2,2,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [17]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [18]:
airline_dict = {}
for idx ,ele in enumerate(df['Airline'].unique()):
    airline_dict[ele]=idx

In [19]:
airline_dict

{'IndiGo': 0,
 'Air India': 1,
 'Jet Airways': 2,
 'SpiceJet': 3,
 'Multiple carriers': 4,
 'GoAir': 5,
 'Vistara': 6,
 'Air Asia': 7,
 'Vistara Premium economy': 8,
 'Jet Airways Business': 9,
 'Multiple carriers Premium economy': 10,
 'Trujet': 11}

In [20]:
temp_col = []
for i in tqdm(range(len(df))):
    ext_value = str(df.iloc[i].Airline)
    ohe_value = airline_dict[ext_value]
    # df.iloc[i].Source = ohe_value
    temp_col.append(ohe_value)
df['Airline'] = temp_col

100%|██████████████████████████████████████████████████████████████████████| 13354/13354 [00:00<00:00, 21885.45it/s]

In [21]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,24/03/2019,0,0,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,1,1/05/2019,1,1,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,2,9/06/2019,2,2,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,0,12/05/2019,1,1,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,0,01/03/2019,0,0,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13349,1,6/06/2019,1,1,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,0,27/03/2019,1,1,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,2,6/03/2019,2,2,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,1,6/03/2019,2,2,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,4,15/06/2019,2,2,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [22]:
df.isna().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [23]:
df['Total_Stops'] = df['Total_Stops'].replace({'1 stop' : 1, 'non-stop' : 0, '2 stops' : 2, '3 stops' : 3, '4 stops' : 4})

In [24]:
df['Total_Stops'] = df['Total_Stops'].fillna(0)

In [25]:
df = df.drop('Route',axis=1)

In [26]:
labelencoder = LabelEncoder()

df['Airline']=labelencoder.fit_transform(df['Airline'])
df['Additional_Info'] = labelencoder.fit_transform(df['Additional_Info'])
df['Source'] = labelencoder.fit_transform(df['Source'])
df['Destination'] = labelencoder.fit_transform(df['Destination'])

labelencoder.fit(df['Date_of_Journey'])

df['Date_of_Journey'] = labelencoder.transform(df['Date_of_Journey'])

In [27]:
df['Airline'].items()

In [28]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,24,0,0,22:20,01:10 22 Mar,2h 50m,0.0,8,3897.0
1,1,6,1,1,05:50,13:15,7h 25m,2.0,8,7662.0
2,2,43,2,2,09:25,04:25 10 Jun,19h,2.0,8,13882.0
3,0,10,1,1,18:05,23:30,5h 25m,1.0,8,6218.0
4,0,0,0,0,16:50,21:35,4h 45m,1.0,8,13302.0

In [29]:
nan_rows = df[df['Price'].isnull()]
if not nan_rows.empty:  # Check if nan_rows is not empty
    df['Price'].fillna(df['Price'].mean(), inplace=True)

In [30]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df['Price'] = imputer.fit_transform(df[['Price']])

In [31]:
x=df.drop(['Price','Additional_Info','Duration','Dep_Time','Arrival_Time'],axis=1)
y=df['Price']

In [32]:
x

       Airline  Date_of_Journey  Source  Destination  Total_Stops
0            0               24       0            0          0.0
1            1                6       1            1          2.0
2            2               43       2            2          2.0
3            0               10       1            1          1.0
4            0                0       0            0          1.0
...        ...              ...     ...          ...          ...
13349        1               39       1            1          1.0
13350        0               28       1            1          0.0
13351        2               36       2            2          1.0
13352        1               36       2            2          1.0
13353        4               15       2            2          1.0

[13354 rows x 5 columns]

In [33]:
a = {'Model Name':[],'Mean_Absolute_Error_MAE':[],'Adj_R_Square':[],'Root_Mean_Squared_Error_RMSE':[],'Mean_Absolute_Percentage_Error_MAPE': [],'Mean_Squared_Error_MSE':[],'Root_Mean_Squared_Log_Error_RMSLE':[],'R2_Score':[]}
Results=pd.DataFrame(a)
Results.head()

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_Score]
Index: []

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,train_size=0.6,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8012, 5), (4007, 5), (8012,), (4007,))

In [35]:
modelmlg = LinearRegression()
modeldcr = DecisionTreeRegressor()
modelbag = BaggingRegressor()
modelrfr = RandomForestRegressor()
modelSVR = SVR()
modelXGR = xgb.XGBRegressor()
modelKNN = KNeighborsRegressor(n_neighbors=5)
modelETR = ExtraTreesRegressor()
modelRE=Ridge()
modelLO=linear_model.Lasso(alpha=0.1)

modelGBR = GradientBoostingRegressor(loss='squared_error', learning_rate=0.1, n_estimators=100, subsample=1.0,
                                     criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
                                     min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0,
                                     init=None, random_state=None, max_features=None,
                                     alpha=0.9, verbose=0, max_leaf_nodes=None, warm_start=False,
                                     validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)

MM = [modelmlg, modeldcr, modelrfr, modelKNN, modelETR, modelGBR, modelXGR, modelbag,modelRE,modelLO]

Results = pd.DataFrame(columns=['Model Name', 'Mean_Absolute_Error_MAE', 'Adj_R_Square', 'Root_Mean_Squared_Error_RMSE',
                               'Mean_Absolute_Percentage_Error_MAPE', 'Mean_Squared_Error_MSE', 'Root_Mean_Squared_Log_Error_RMSLE', 'R2_score'])

for models in MM:
    models.fit(x_train, y_train)
    y_pred = models.predict(x_test)
    print('Model Name: ', models)
    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred), 3))
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred), 3))
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)), 3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred), 6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))), 3))

    def MAPE(y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')

    r_squared = round(metrics.r2_score(y_test, y_pred), 6)
    adjusted_r_squared = round(1 - (1 - r_squared) * (len(y) - 1) / (len(y) - x.shape[1] - 1), 6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')

    new_row = pd.DataFrame({'Model Name': [str(models)], 'Mean_Absolute_Error_MAE': [metrics.mean_absolute_error(y_test, y_pred)],
                            'Adj_R_Square': [adjusted_r_squared], 'Root_Mean_Squared_Error_RMSE': [np.sqrt(metrics.mean_squared_error(y_test, y_pred))],
                            'Mean_Absolute_Percentage_Error_MAPE': [result], 'Mean_Squared_Error_MSE': [metrics.mean_squared_error(y_test, y_pred)],
                            'Root_Mean_Squared_Log_Error_RMSLE': [np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))],
                            'R2_score': [metrics.r2_score(y_test, y_pred)]})
    Results = pd.concat([Results, new_row], ignore_index=True)

/var/folders/ss/rmrlnxpj5tq8_tq9mvtbtyxh0000gp/T/ipykernel_7224/4026710340.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  Results = pd.concat([Results, new_row], ignore_index=True)

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 2450.262
Mean Squared Error (MSE): 12532706.795
Root Mean Squared Error (RMSE): 3540.156
R2_score: 0.301788
Root Mean Squared Log Error (RMSLE): 8.172
Mean Absolute Percentage Error (MAPE): 31.48 %
Adj R Square:  0.301526
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 1887.603
Mean Squared Error (MSE): 7499202.201
Root Mean Squared Error (RMSE): 2738.467
R2_score: 0.582211
Root Mean Squared Log Error (RMSLE): 7.915
Mean Absolute Percentage Error (MAPE): 23.24 %
Adj R Square:  0.582055
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 1874.877
Mean Squared Error (MSE): 7296904.859
Root Mean Squared Error (RMSE): 2701.278
R2_score: 0.593481
Root Mean Squared Log Error (RMSLE): 7.901
Mean Absolute Percentage Error (MAPE): 22.93 %
Adj R Square:  0.593329
------------------------------------------------------------------------------------------------------------
Model Name:  KNeighborsRegressor()
Mean Absolute Error (MAE): 1992.894
Mean Squared Error (MSE): 8838117.569
Root Mean Squared Error (RMSE): 2972.897
R2_score: 0.507618
Root Mean Squared Log Error (RMSLE): 7.997
Mean Absolute Percentage Error (MAPE): 24.33 %
Adj R Square:  0.507434
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 1880.761
Mean Squared Error (MSE): 7384911.436
Root Mean Squared Error (RMSE): 2717.519
R2_score: 0.588578
Root Mean Squared Log Error (RMSLE): 7.907
Mean Absolute Percentage Error (MAPE): 23.16 %
Adj R Square:  0.588424
------------------------------------------------------------------------------------------------------------
Model Name:  GradientBoostingRegressor()
Mean Absolute Error (MAE): 1956.368
Mean Squared Error (MSE): 7292433.34
Root Mean Squared Error (RMSE): 2700.451
R2_score: 0.59373
Root Mean Squared Log Error (RMSLE): 7.901
Mean Absolute Percentage Error (MAPE): 24.18 %
Adj R Square:  0.593578
------------------------------------------------------------------------------------------------------------
Model Name:  XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)
Mean Absolute Error (MAE): 1861.402
Mean Squared Error (MSE): 7107300.587
Root Mean Squared Error (RMSE): 2665.952
R2_score: 0.604044
Root Mean Squared Log Error (RMSLE): 7.888
Mean Absolute Percentage Error (MAPE): 22.74 %
Adj R Square:  0.603896
------------------------------------------------------------------------------------------------------------
Model Name:  BaggingRegressor()
Mean Absolute Error (MAE): 1883.469
Mean Squared Error (MSE): 7413657.02
Root Mean Squared Error (RMSE): 2722.803
R2_score: 0.586976
Root Mean Squared Log Error (RMSLE): 7.909
Mean Absolute Percentage Error (MAPE): 23.04 %
Adj R Square:  0.586821
------------------------------------------------------------------------------------------------------------
Model Name:  Ridge()
Mean Absolute Error (MAE): 2450.282
Mean Squared Error (MSE): 12532749.545
Root Mean Squared Error (RMSE): 3540.162
R2_score: 0.301786
Root Mean Squared Log Error (RMSLE): 8.172
Mean Absolute Percentage Error (MAPE): 31.49 %
Adj R Square:  0.301524
------------------------------------------------------------------------------------------------------------
Model Name:  Lasso(alpha=0.1)
Mean Absolute Error (MAE): 2450.266
Mean Squared Error (MSE): 12532719.233
Root Mean Squared Error (RMSE): 3540.158
R2_score: 0.301787
Root Mean Squared Log Error (RMSLE): 8.172
Mean Absolute Percentage Error (MAPE): 31.48 %
Adj R Square:  0.301525
------------------------------------------------------------------------------------------------------------

In [36]:
Results

,Model Name,Mean_Absolute_Error_MAE,Adj_R_Square,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE,R2_score
0,LinearRegression(),2450.262462,0.301526,3540.156324,31.483724,1.253271e+07,8.171926,0.301788
1,DecisionTreeRegressor(),1887.603125,0.582055,2738.467126,23.236914,7.499202e+06,7.915154,0.582211
2,RandomForestRegressor(),1874.876671,0.593329,2701.278375,22.928098,7.296905e+06,7.901480,0.593481
3,KNeighborsRegressor(),1992.893649,0.507434,2972.897168,24.325011,8.838118e+06,7.997292,0.507618
4,ExtraTreesRegressor(),1880.761073,0.588424,2717.519353,23.163321,7.384911e+06,7.907475,0.588578
5,GradientBoostingRegressor(),1956.368171,0.593578,2700.450581,24.179392,7.292433e+06,7.901174,0.593730
6,"XGBRegressor(base_score=None, booster=None, ca...",1861.402081,0.603896,2665.952098,22.740414,7.107301e+06,7.888317,0.604044
7,BaggingRegressor(),1883.468647,0.586821,2722.803155,23.043153,7.413657e+06,7.909417,0.586976
8,Ridge(),2450.281527,0.301524,3540.162361,31.485802,1.253275e+07,8.171928,0.301786
9,Lasso(alpha=0.1),2450.265629,0.301525,3540.158080,31.484316,1.253272e+07,8.171927,0.301787

In [49]:
models=['LinearRegression','DecisionTreeRegressor','RandomForestRegressor','KNeighborsRegressor','ExtraTreesRegressor','GradientBoostingRegressor','XGBRegressor','BaggingRegressor','Ridge Regressor','Lasso Regressor']
result=pd.DataFrame({'Model_name':models})
result['R2_score']=Results['R2_score']*100 # We calculate the r2_score to get the accuracy of our model in percentage scale (0-100)
result['Adj_R_Square']=Results['Adj_R_Square']
result['Mean_Absolute_Error_MAE']=Results['Mean_Absolute_Error_MAE']
result['Root_Mean_Squared_Error_RMSE']=Results['Root_Mean_Squared_Error_RMSE']
result['Mean_Absolute_Percentage_Error_MAPE']=Results['Mean_Absolute_Percentage_Error_MAPE']
result['Mean_Squared_Error_MSE']=Results['Mean_Squared_Error_MSE']
result['Root_Mean_Squared_Log_Error_RMSLE']=Results['Root_Mean_Squared_Log_Error_RMSLE']
result=result.sort_values(by='Adj_R_Square',ascending=False).reset_index(drop=True)
result

,Model_name,R2_score,Adj_R_Square,Mean_Absolute_Error_MAE,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE
0,XGBRegressor,60.404382,0.603896,1861.402081,2665.952098,22.740414,7.107301e+06,7.888317
1,GradientBoostingRegressor,59.372986,0.593578,1956.368171,2700.450581,24.179392,7.292433e+06,7.901174
2,RandomForestRegressor,59.348074,0.593329,1874.876671,2701.278375,22.928098,7.296905e+06,7.901480
3,ExtraTreesRegressor,58.857779,0.588424,1880.761073,2717.519353,23.163321,7.384911e+06,7.907475
4,BaggingRegressor,58.697634,0.586821,1883.468647,2722.803155,23.043153,7.413657e+06,7.909417
5,DecisionTreeRegressor,58.221052,0.582055,1887.603125,2738.467126,23.236914,7.499202e+06,7.915154
6,KNeighborsRegressor,50.761795,0.507434,1992.893649,2972.897168,24.325011,8.838118e+06,7.997292
7,LinearRegression,30.178799,0.301526,2450.262462,3540.156324,31.483724,1.253271e+07,8.171926
8,Lasso Regressor,30.178729,0.301525,2450.265629,3540.158080,31.484316,1.253272e+07,8.171927
9,Ridge Regressor,30.178560,0.301524,2450.281527,3540.162361,31.485802,1.253275e+07,8.171928

In [38]:
modelXGR.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [39]:
y_pred=modelXGR.predict(x_test)
y_pred

array([ 5857.679 , 15380.919 ,  7634.011 , ...,  9870.227 ,  3932.0356,
        6127.5938], dtype=float32)

In [40]:
out=pd.DataFrame({'Price_actual':y_test,'Price_pred':y_pred})
result=df.merge(out,left_index=True,right_index=True)

In [41]:
result.sample(10)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Price_actual,Price_pred
9632,2,0,0,0,05:45,21:20,15h 35m,1.0,8,27992.0,27992.0,23980.712891
6753,7,39,1,1,19:55,22:25,2h 30m,0.0,8,4508.0,4508.0,7821.621094
6942,0,10,3,3,19:35,21:55,2h 20m,0.0,8,3597.0,3597.0,4099.053711
173,4,31,2,2,11:30,21:00,9h 30m,1.0,8,13587.0,13587.0,9137.130859
6243,2,11,1,1,06:30,18:15,11h 45m,1.0,8,13626.0,13626.0,10617.750000
8903,2,24,4,4,15:50,17:20,1h 30m,0.0,8,5678.0,5678.0,4512.641113
1197,1,10,1,1,12:00,18:30 13 May,30h 30m,2.0,8,10676.0,10676.0,11446.298828
6443,0,42,2,2,21:50,03:35 10 May,5h 45m,1.0,8,6058.0,6058.0,7615.893555
7466,2,22,1,1,21:10,04:40 22 May,7h 30m,1.0,8,13941.0,13941.0,11430.319336
5023,7,15,2,2,20:45,07:10 16 Jun,10h 25m,1.0,8,6253.0,6253.0,6712.028320

In [42]:
modeldcr.fit(x_train,y_train)
y_pred1=modelETR.predict(x_test)
y_pred1

array([ 5913.26603014, 15372.05580012,  6520.97      , ...,
        9838.3966214 ,  3829.75      ,  4145.        ])

In [43]:
out=pd.DataFrame({'Price_actual':y_test,'Price_pred':y_pred1})
result1=df.merge(out,left_index=True,right_index=True)

In [44]:
result1

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Price_actual,Price_pred
0,0,24,0,0,22:20,01:10 22 Mar,2h 50m,0.0,8,3897.000000,3897.000000,7099.702220
3,0,10,1,1,18:05,23:30,5h 25m,1.0,8,6218.000000,6218.000000,5818.000000
8,2,8,0,0,08:55,10:25 13 Mar,25h 30m,1.0,5,11087.000000,11087.000000,11992.147548
10,1,7,2,2,09:45,23:00,13h 15m,1.0,8,8907.000000,8907.000000,8862.661177
14,0,25,1,1,17:15,19:50,2h 35m,0.0,8,4804.000000,4804.000000,5660.612824
...,...,...,...,...,...,...,...,...,...,...,...,...
13345,1,22,4,4,13:55,15:25,1h 30m,0.0,8,9087.064121,9087.064121,9087.064121
13347,4,15,2,2,15:15,01:30 16 Jun,10h 15m,1.0,8,9087.064121,9087.064121,9696.267811
13348,3,23,4,4,22:45,00:15 22 Jun,1h 30m,0.0,7,9087.064121,9087.064121,3693.812824
13350,0,28,1,1,14:20,16:55,2h 35m,0.0,8,9087.064121,9087.064121,5023.510687
13352,1,36,2,2,04:00,19:15,15h 15m,1.0,8,9087.064121,9087.064121,13129.317557

In [45]:
le = LabelEncoder()
mmscaler = MinMaxScaler()
df_pred1 = pd.DataFrame(np.array(['Indigo', '21-05-2024','Mumbai', 'Delhi', '0']).reshape(1,-1),
                       columns=['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Total_Stops'])
for col in df_pred1.columns:
    df_pred1[col] = le.fit_transform(df_pred1[col])
    
# Scale the data
mm_pred1 = mmscaler.fit_transform(df_pred1)

# Make predictions
y_new1 = modelXGR.predict(mm_pred1)
print("Predicted value for XGB Regressor:", y_new1)

Predicted value for XGB Regressor: [10955.56]

In [46]:
df_pred2 = pd.DataFrame(np.array(['Air India', '31-05-2024','Bangalore', 'Delhi', '0']).reshape(1,-1),
                       columns=['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Total_Stops'])
for col in df_pred2.columns:
    df_pred2[col] = le.fit_transform(df_pred2[col])
    
# Scale the data
mm_pred2 = mmscaler.fit_transform(df_pred2)
y_new2 = modeldcr.predict(mm_pred2)
print("Predicted value for Decision Tree Regressor:", y_new2)

Predicted value for Decision Tree Regressor: [10956.34402009]

/usr/local/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [47]:
import pickle
model = pickle.dump(modelXGR,open('flightPrice.pkl','wb'))

In [48]:
with open('flightPrice.pkl', 'rb') as file:
    loadModel = pickle.load(file)

print(loadModel)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)