In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import xgboost as xgb
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
import sklearn.metrics as metrics

In [160]:
train_df = pd.read_excel('Dataset/Data_Train.xlsx')
test_df = pd.read_excel('Dataset/Test_set.xlsx')

In [161]:
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [162]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [163]:
df = pd.concat([train_df,test_df],ignore_index=True)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
13349,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [164]:
df.shape

(13354, 11)

In [165]:
df.isna().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

In [166]:
df['Total_Stops'] = df['Total_Stops'].replace({'1 stop' : 1, 'non-stop' : 0, '2 stops' : 2, '3 stops' : 3, '4 stops' : 4})

In [167]:
df['Total_Stops'] = df['Total_Stops'].fillna(0)

In [177]:
df = df.drop('Route',axis=1)

In [168]:
labelencoder = LabelEncoder()

df['Airline']=labelencoder.fit_transform(df['Airline'])
df['Additional_Info'] = labelencoder.fit_transform(df['Additional_Info'])
df['Source'] = labelencoder.fit_transform(df['Source'])
df['Destination'] = labelencoder.fit_transform(df['Destination'])

labelencoder.fit(df['Date_of_Journey'])

df['Date_of_Journey'] = labelencoder.transform(df['Date_of_Journey'])

In [178]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,3,24,0,5,22:20,01:10 22 Mar,2h 50m,0.0,8,3897.0
1,1,6,3,0,05:50,13:15,7h 25m,2.0,8,7662.0
2,4,43,2,1,09:25,04:25 10 Jun,19h,2.0,8,13882.0
3,3,10,3,0,18:05,23:30,5h 25m,1.0,8,6218.0
4,3,0,0,5,16:50,21:35,4h 45m,1.0,8,13302.0

In [170]:
nan_rows = df[df['Price'].isnull()]
if not nan_rows.empty:  # Check if nan_rows is not empty
    df['Price'].fillna(df['Price'].mean(), inplace=True)

In [171]:
x=df.drop(['Price','Additional_Info','Duration','Dep_Time','Arrival_Time'],axis=1)
y=df['Price']

In [172]:
x

,Airline,Date_of_Journey,Source,Destination,Route,Total_Stops
0,3,24,0,5,BLR → DEL,0.0
1,1,6,3,0,CCU → IXR → BBI → BLR,2.0
2,4,43,2,1,DEL → LKO → BOM → COK,2.0
3,3,10,3,0,CCU → NAG → BLR,1.0
4,3,0,0,5,BLR → NAG → DEL,1.0
...,...,...,...,...,...,...
13349,1,39,3,0,CCU → DEL → BLR,1.0
13350,3,28,3,0,CCU → BLR,0.0
13351,4,36,2,1,DEL → BOM → COK,1.0
13352,1,36,2,1,DEL → BOM → COK,1.0
13353,6,15,2,1,DEL → BOM → COK,1.0

In [173]:
a = {'Model Name':[],'Mean_Absolute_Error_MAE':[],'Adj_R_Square':[],'Root_Mean_Squared_Error_RMSE':[],'Mean_Absolute_Percentage_Error_MAPE': [],'Mean_Squared_Error_MSE':[],'Root_Mean_Squared_Log_Error_RMSLE':[],'R2_Score':[]}
Results=pd.DataFrame(a)
Results.head()

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_Score]
Index: []

In [174]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,train_size=0.6,random_state=42)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8012, 6), (4007, 6), (8012,), (4007,))

In [175]:
modelmlg = LinearRegression()
modeldcr = DecisionTreeRegressor()
modelbag = BaggingRegressor()
modelrfr = RandomForestRegressor()
modelSVR = SVR()
modelXGR = xgb.XGBRegressor()
modelKNN = KNeighborsRegressor(n_neighbors=5)
modelETR = ExtraTreesRegressor()
modelRE=Ridge()
modelLO=linear_model.Lasso(alpha=0.1)

modelGBR = GradientBoostingRegressor(loss='squared_error', learning_rate=0.1, n_estimators=100, subsample=1.0,
                                     criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
                                     min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0,
                                     init=None, random_state=None, max_features=None,
                                     alpha=0.9, verbose=0, max_leaf_nodes=None, warm_start=False,
                                     validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)

MM = [modelmlg, modeldcr, modelrfr, modelKNN, modelETR, modelGBR, modelXGR, modelbag,modelRE,modelLO]

Results = pd.DataFrame(columns=['Model Name', 'Mean_Absolute_Error_MAE', 'Adj_R_Square', 'Root_Mean_Squared_Error_RMSE',
                               'Mean_Absolute_Percentage_Error_MAPE', 'Mean_Squared_Error_MSE', 'Root_Mean_Squared_Log_Error_RMSLE', 'R2_score'])

for models in MM:
    models.fit(x_train, y_train)
    y_pred = models.predict(x_test)
    print('Model Name: ', models)
    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred), 3))
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred), 3))
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)), 3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred), 6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))), 3))

    def MAPE(y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')

    r_squared = round(metrics.r2_score(y_test, y_pred), 6)
    adjusted_r_squared = round(1 - (1 - r_squared) * (len(y) - 1) / (len(y) - x.shape[1] - 1), 6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')

    new_row = pd.DataFrame({'Model Name': [str(models)], 'Mean_Absolute_Error_MAE': [metrics.mean_absolute_error(y_test, y_pred)],
                            'Adj_R_Square': [adjusted_r_squared], 'Root_Mean_Squared_Error_RMSE': [np.sqrt(metrics.mean_squared_error(y_test, y_pred))],
                            'Mean_Absolute_Percentage_Error_MAPE': [result], 'Mean_Squared_Error_MSE': [metrics.mean_squared_error(y_test, y_pred)],
                            'Root_Mean_Squared_Log_Error_RMSLE': [np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))],
                            'R2_score': [metrics.r2_score(y_test, y_pred)]})
    Results = pd.concat([Results, new_row], ignore_index=True)

ValueError: could not convert string to float: 'BOM → HYD'

In [ ]:
Results

In [ ]:
models=['LinearRegression','DecisionTreeRegressor','RandomForestRegressor','KNeighborsRegressor','ExtraTreesRegressor','GradientBoostingRegressor','XGBRegressor','BaggingRegressor','Ridge Regressor','Lasso Regressor']
result=pd.DataFrame({'Model_name':models})
result['Adj_R_Square']=Results['Adj_R_Square']
result['Mean_Absolute_Error_MAE']=Results['Mean_Absolute_Error_MAE']
result['Root_Mean_Squared_Error_RMSE']=Results['Root_Mean_Squared_Error_RMSE']
result['Mean_Absolute_Percentage_Error_MAPE']=Results['Mean_Absolute_Percentage_Error_MAPE']
result['Mean_Squared_Error_MSE']=Results['Mean_Squared_Error_MSE']
result['Root_Mean_Squared_Log_Error_RMSLE']=Results['Root_Mean_Squared_Log_Error_RMSLE']
result['R2_score']=Results['R2_score']
result=result.sort_values(by='Adj_R_Square',ascending=False).reset_index(drop=True)
result

In [ ]:
modelXGR.fit(x_train,y_train)

In [ ]:
y_pred=modelXGR.predict(x_test)
y_pred

In [ ]:
out=pd.DataFrame({'Price_actual':y_test,'Price_pred':y_pred})
result=df.merge(out,left_index=True,right_index=True)

In [ ]:
result.sample(10)

In [ ]:
modeldcr.fit(x_train,y_train)
y_pred1=modelETR.predict(x_test)

In [ ]:
out=pd.DataFrame({'Price_actual':y_test,'Price_pred':y_pred1})
result1=df.merge(out,left_index=True,right_index=True)

In [ ]:
result1

In [ ]:
le = LabelEncoder()
mmscaler = MinMaxScaler()
df_pred1 = pd.DataFrame(np.array(['Indigo', '21-05-2024','Mumbai', 'Delhi', '0']).reshape(1,-1),
                       columns=['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Total_Stops'])
for col in df_pred1.columns:
    df_pred1[col] = le.fit_transform(df_pred1[col])
    
# Scale the data
mm_pred1 = mmscaler.fit_transform(df_pred1)

# Make predictions
y_new1 = modelXGR.predict(mm_pred1)
print("Predicted value for XGB Regressor:", y_new1)

In [ ]:
df_pred2 = pd.DataFrame(np.array(['Air India', '31-05-2024','Bangalore', 'Delhi', '0']).reshape(1,-1),
                       columns=['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Total_Stops'])
for col in df_pred2.columns:
    df_pred2[col] = le.fit_transform(df_pred2[col])
    
# Scale the data
mm_pred2 = mmscaler.fit_transform(df_pred2)
y_new2 = modeldcr.predict(mm_pred2)
print("Predicted value for Decision Tree Regressor:", y_new2)